
.e360-pop-window {
    position: fixed !important;
    right: 20px;
    bottom: 0px;
    width: 400px;
    min-height: 420px;
    background: #f1f1f1;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 999;
}

.e360-pop-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 0 50px 0;
}

.e360-pop-holder {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.e360-pop-headline {
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    background: #26292f;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.e360-pop-window.down {
    bottom: -370px;
}

.e360-pop-windowclose.down {
    background: url('imgs/arrow_up_bright.png') center center no-repeat;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 16px;
    height: 16px;
    background-size: cover;
    cursor: pointer;
    z-index: 1000;
}

.e360-pop-windowclose {
    position: absolute;
    right: 15px;
    top: 17px;
    width: 16px;
    height: 16px;
    background: url('imgs/close_bright.png') center center no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1000;
}

.e360-cart-icon {
    background: url('imgs/cart.png') center center no-repeat;
    position: absolute;
    left: 15px;
    top: 13px;
    width: 25px;
    height: 25px;
    background-size: cover;
    cursor: pointer;
    z-index: 1000;
}

.cart-image {
    margin-bottom: 0;
}

#etsy360-pop-cart-table, #etsy360-cart-table {
    font-size: 12px;
    width: 100%;
    line-height: 30px;
}

.itemCount {
    position: absolute;
    left: 48px;
    top: 15px;
    text-decoration: none;
    background: #f8f8f8;
    font-size: 12px;
    float: right;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border: 1px solid #444444;
    text-align: center;
    color: #444444 !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.loader {
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-left: 5px;
    margin-bottom: -3px;
    display: none;
}

.cart-alert-message.message {
    background-color: #fff;
    border-color: #c3c3c3;
    color: inherit;
}

.cart-alert-message {
    z-index: 99;
    width: 500px;
    position: fixed;
    text-align: center;
    left: 32%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
    padding: 20px;
    background-color: #C60F13;
    border-radius: 2px;
    color: #FFF;
    line-height: 20px;
    display: none;
}

.cart-alert {
    font-size: 21px;
    text-align: center;
    padding: 10px 24px;
    margin: 10px 0;
    border: 1px solid;
    transition: .1s linear all;
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
}

.cart-table > td {
    vertical-align: middle;
    padding: 11px 6px;
    line-height: 18px;
}

#etsy360-cart-table > th {
    padding: 4px 4px;
}

.remove-cart-item {
    text-decoration: none;
    background: #ccc;
    font-size: 21px;
    float: right;
    line-height: 23px;
    height: 25px;
    width: 25px;
    border: 1px solid #999;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 75%;
}

.e360-cart-btn {
    margin-top: 10px;
    padding: 10px 15px !important;
}

div.admin_error {
    background-color: #fff;
    border-left: 4px solid #FF0000;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    margin: 17px 2px;
    padding: 3px 10px;
}

/* Cart slider  */

#e360-cart-trigger a {
    /* replace text with a background-image */
    position: fixed;
    top: 50%;
    right: 0;
    height: 50px;
    width: 50px;
    color: #000;
    border-left: 1px solid #26292f;
    border-top: 1px solid #26292f;
    border-bottom: 1px solid #26292f;
    background: #ECF0F1 url("imgs/shopping.png") no-repeat center center;

}

.cart-table td, .cart-table th {
    border-bottom: 1px solid #EAEAEA;
    border-left: none;
    border-right: none;
}

a.checkoutButton {
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    background: #000000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
    margin: 0 15px;
}

@media screen and (max-width: 767px) {
    .e360-pop-window {
        width: 100%;
        right: 0;
        left: 0 !important;
    }
}

/*
 Modal
*/

.noscroll {
    overflow: hidden !important;
}

.e360-modal-btn {
    font-size: 3vmin;
    padding: 0.75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.e360-modal-btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.e360-modal-btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
}

.e360-modal-box {

    background-color: white;
    position: fixed;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    z-index: 3000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: none;
    width: 98%;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

@media (min-width: 32em) {

    .e360-modal-box {
        width: 70%;
    }
}

.e360-modal-box header,
.e360-modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.e360-modal-box header h3,
.e360-modal-box header h4,
.e360-modal-box .e360-modal-header h3,
.e360-modal-box .e360-modal-box h4 {
    margin: 0;
}

.e360-modal-box .e360-modal-body {
    padding: 2em 1.5em;
}

.e360-modal-box footer,
.e360-modal-box .e360-modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.e360-modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
